.section {
  background-color: #334141;
  color: white;
  padding: 160px 0;
}
.innerWrapper {
  display: flex;
  max-width: 1392px;
  justify-content: space-between;
  margin: 0 auto;
}
.companySummary {
  max-width: 333px;
}
.contactInfoWrapper {
  display: flex;
  gap: 40px;
}
