.sectionWrapper {
  padding: 80px 0;
  display: flex;
  background-color: #334141;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 1200px) {
    padding: 160px 100px;
  }
}
.innerWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1392px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 50px;
  @media (min-width: 1200px) {
    flex-direction: row;
    gap: 150px;
  }
}
.header {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 32px;
  max-width: 700px;
  margin-bottom: 42px;
  @media (min-width: 1200px) {
    font-size: 52px;
    line-height: 52px;
  }
}
.paragraphRegular {
  font-size: 20px;
  line-height: 28px;
  color: #bbc6c6;
}
.textBold {
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
}
.textWrapper {
  max-width: 686px;
}
.spacing {
  margin-bottom: 32px;
}
