.sectionWrapper {
  padding: 160px 0;
  display: flex;
  background-color: #334141;
  color: white;
}
.innerWrapper {
  display: flex;
  max-width: 1392px;
  justify-content: space-between;
  margin: 0 auto;
}
