.innerWrapper {
  display: flex;
  max-width: 1392px;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 50px;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 120px;
  }
}

.logo {
  width: 77px;
  height: 110px;
  @media (min-width: 1200px) {
    width: unset;
    height: unset;
  }
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.textRed {
  color: #d9251b;
  text-transform: uppercase;
  font-style: italic;
  font-size: 48px;
  @media (min-width: 1200px) {
    font-size: 100px;
  }
}

.textSecondary {
  display: block;
  color: #424f4f;
  font-style: italic;
  font-size: 32px;

  @media (min-width: 1200px) {
    font-size: 72px;
  }
}

.imagesWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  @media (min-width: 500px) {
    display: flex;
  }
}

.imagesWrapper img {
  width: 100%;
  height: auto;
  @media (min-width: 635px) {
    min-width: unset;
  }
}
