.innerWrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 16px;
  align-items: center;
  max-width: 1392px;
  justify-content: space-between;
  margin: 0 auto;
  @media (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.cardWrapper {
  margin-top: 80px;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  @media (min-width: 1200px) {
    gap: 1.8px;
  }
}

.header {
  color: #424f4f;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  @media (min-width: 1200px) {
    font-size: 72px;
  }
}

.subheader {
  font-size: 16px;
  color: #667474;
  text-align: center;
  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.decorator {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    width: 4px;
    height: 50px;
    background-color: #D9251B;
  }
}
