.innerWrapper {
  display: flex;
  flex-direction: column;
  padding: 180px 0;
  align-items: center;
  max-width: 1392px;
  justify-content: space-between;
  margin: 0 auto;
}

.cardWrapper {
  margin-top: 80px;
  display: flex;
  gap: 1.8px;
  flex-wrap: wrap;
}

.header {
  font-size: 72px;
  color: #424f4f;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.subheader {
  font-size: 24px;
  color: #667474;
}
