.innerWrapper {
  padding: 100px 16px;
  display: flex;
  flex-direction: column;
  max-width: 1392px;
  justify-content: space-between;
  margin: 0 auto;
  @media (min-width: 1200px) {
    align-items: center;
    padding: 100px 100px;
    gap: 118px;
  }
}

.decorativeHeader {
  border-left: 4px solid #d9251b;
  padding: 8px 0 12px 24px;
  font-size: 24px;
  width: max-content;
  text-align: center;
  margin: 0 auto;
  color: #424f4f;
  height: 50px;
  margin-bottom: 20px;
}

.header {
  font-size: 52px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 42px;
  color: #424f4f;
  text-align: center;
}

.paragraphRegular {
  font-size: 20px;
  line-height: 28px;
  color: #667474;
  text-align: center;
  margin-bottom: 24px;
}

.imageWrapper {
  position: relative;
  top: -100px;
}

.mainContentWrapper {
  max-width: 886px;
}

.map {
  width: 100%;
  height: 200px;
  @media (min-width: 1200px) {
    width: 888px;
    height: 500px;
  }
}
